$standard-font: Arial;
$title-font:   Georgia;

$horizontal-margin: 4vw;
$horizontal-inner-margin: 4vw;

$header-vertical-margin: 2vw;
$main-vertical-margin:   3vw;
$footer-vertical-margin: 1vw;

$entry-horizontal-padding: 4vw;
$entry-vertical-padding:   3vw;
$entry-element-spacing:   1.3vw;

$logo-width: 50%;
$left-column-width: 38%;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
}

.full-screen {
  font-family: $standard-font;
  color: #333;
  font-size: 1.8vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

header {
  flex: 0 0 auto;
  display: flex;

  background: black;

  > * {
    box-sizing: border-box;
  }

  #logo {
    flex: 0 1 $logo-width;
    justify-content: space-around;
    padding: $header-vertical-margin 0 $header-vertical-margin $horizontal-margin;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

footer {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;

  background: black;
  color: #fff;

  > * {
    box-sizing: border-box;
  }

  .leftColumn {
    flex: 0 0 $left-column-width;

    padding: $footer-vertical-margin 0;
    text-align: center;
  }

  .rightColumn {
    flex: 1 0 100% - $left-column-width;

    padding: $footer-vertical-margin $horizontal-margin;
    text-align: right;
  }
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.entry {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;

  > * {
    box-sizing: border-box;
    padding: $main-vertical-margin $horizontal-inner-margin $main-vertical-margin $horizontal-margin;
  }

  .leftColumn {
    display: flex;
    flex: 0 0 $left-column-width;
    justify-content: center;
    align-items: stretch;

    div {
      flex: 1 0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      -webkit-filter: saturate(1) grayscale(100%);
    }
  }

  .rightColumn {
    flex: 1 0 100% - $left-column-width;
    display: flex;
    flex-direction: row;

    position: relative;

    .inner {
      position: absolute;
      top: $main-vertical-margin;
      bottom: $main-vertical-margin;
      left: 0;
      right: $horizontal-margin;

      overflow: hidden;
      /*flex: 1 1 auto;*/

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      background: url(../assets/mnfrontpage-bg-print-13.png);
      background-size: 100%;
      background-position: bottom center;
      padding: $entry-vertical-padding $entry-horizontal-padding;

      > * {
        margin: $entry-element-spacing 0;
      }

      h2 {
        font-weight: normal;
        font-size: 150%;
        padding: 0;
      }

      .intro {

      }

      .title {
        font-family: $title-font;
        color: black;
      }

      .wc30 { font-size: 115%; }     /* For more than 30 characters */
      .wc20 { font-size: 125%; }     /* For more than 20 characters */
      .default { font-size: 140%; }  /* Default */

      .timeloc {
        flex: 0 0 auto;
        margin-bottom: 0 !important;
        /*border-top: 1px solid #dddddd;*/
      }

    }
  }
}

table {
  margin: 0;
  padding: 0;

  th, td {
    vertical-align: top;
    padding: .3vw 1vw 0 0;
  }

  th {
    font-weight: normal;
    text-align: left;
  }
}

/* Animation */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.red {
  color: red;
}
